@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}


header {
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: yellow;
    font-size: 36px;
}

.logo span {
    color: red;
}


.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-list ul li a:hover {
    color: yellow;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}

.nav-item {
    margin: 0 25px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.login-button button {
    padding: 10px 20px;
    font-size: 18px;
    margin-left: 10px;
    font-weight: 600;
    background-color: yellow;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.login-button button:hover {
    box-shadow: 0px 0px 8px yellow;
    transform: scale(1.08);
}


.mobile-menu-icon{
    display: none;
}

.mobile-menu {
    display: none;
}

.mobile-menu ul li a:hover{
    color: #000;
    background-color: yellow;
    padding: 10px 140px;
    border-radius: 10px;

}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
        transition: 0.2s;
    }

}

.home {
    display: block;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.texto1, .texto2, .texto3 {
    margin-top: 24px;
    padding: 20px 20px;
    line-height: 2rem;
    
}

.texto1 h2, .texto2 h2, .texto3 h2, .texto4 h2 {
    font-size: 42px;
    padding: 20px;
    margin-top: 30px;
    color: #fff;
    text-align: center;
}

.texto1 p, .texto2 p, .texto3 p, .texto p {
    text-align: justify;
    text-indent: 20px
}

@media screen and (max-width: 768px) {
    .texto1 h2 {
        line-height: 50px;
        font-size: 30px;
    }
}

/* section promocao imagens */

.flex img {
    max-width: 100%;
    display: block;
    border-radius: 15px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;
}

.flex > div {
    flex: 1 1 500px;
    margin: 15px;
}

/* delivery - lojas */

.delivery {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: red; 
    margin-top: 70px;
    padding: 30px;   
}

.boneco img {
    width: 400px;
    height: 380px;
    margin-top: 20px;
    margin-bottom: 70px;
}

.boneco h3 {
    margin-top: 50px;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
}

.boneco p {
    text-align: center;
    padding: 10px;
    font-size: 22px;
    color: #fff;
}

.boneco p button {
    padding: 15px 40px;
    font-size: 18px;
    margin-left: 10px;
    font-weight: 600;
    background-color: #000;
    color: #fff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.boneco button:hover {
    color: #fff;
    box-shadow: 0px 0px 8px #000;
    transform: scale(1.05);

}



.chegar {
    text-align: center;
    overflow: hidden;
}

.chegar img {
    /* width: 600px;
    height: 300px; */
    margin-bottom: 20px;
    width: 100%;
    max-width: 350px;
    transition: transform 0.2s;
}

.chegar img:hover {
    transform: scale(1.08);
    z-index: 1;
}

.chegar h2 {
    font-size: 28px;
    line-height: 20px;
    color: yellow;
}

.chegar p {
    font-size: 22px;
    line-height: 40px;
    color: #fff;
    padding-bottom: 20px;

}

.chegar button {
    padding: 17px 40px;
    font-size: 15px;
    margin-left: 10px;
    font-weight: 600;
    background-color: #000;
    color: #fff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.chegar button:hover {
    color: #fff;
    box-shadow: 0px 0px 8px #000;
    transform: scale(1.05);

}

/* .chegar a {
    text-decoration: none;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    
    border-radius: 20px;
} */

.chegar p i {
    font-size: 30px;
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .boneco h3 {
        text-align: center;
    }

    .boneco img {
        width: 300px;
        height: 300px;
    }

    .chegar h2 {
        padding-top: 10px;
    }

    .chegar button {
        font-size: 22px;
    }

}

/* whattsapp */

.btn-whatsapp {
    position: fixed;
    bottom: 14px;
    right: 24px;
    z-index: 99;
  }
  .btn-whatsapp img {
    max-width: 94px;
    transition: transform 0.4s;
  }
  .btn-whatsapp img:hover {
    transform: scale(1.1);
  }
  
  .btn-whatsapp .tooltip-text {
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    left: -144px;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    background-color: red;
    color: #fff;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.4s;
  }
  
  .btn-whatsapp:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  
  @media screen and (max-width: 768px) {
    .btn-whatsapp img {
      max-width: 64px;
    }

  }
  body {
    font-family: "Sora", sans-serif;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #06121e;
  }
  
  button {
    font-family: "Sora", sans-serif;
    cursor: pointer;
  }
  
  svg {
    width: 100%;
  }
  
  img {
    width: 100%;
  }
  
  a {
    cursor: pointer;
    text-decoration: none;
  }/*# sourceMappingURL=style.css.map */


  /* lojas flex */

.tema h3 {
    padding-top: 100px;
    padding-bottom: 30px;
    color: #fff;
    text-align: center;
}

.catarina img , .cruz img {
    width: 100%;
    height: 354px;
    max-width: 708px;
    background-position: center;
    background-size: cover;
    transition: transform 0.2s;
   
}

.catarina img:hover, .cruz img:hover {
    transform: scale(1.02);
    z-index: 1;
}



.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    overflow: hidden;
}

.catarina, .cruz{
    background-color: #fff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-bottom: 50px;
}

.flex h3 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.flex p {
    padding-left: 25px;
    line-height: 25px;
}

.flex p span {
    font-weight: bold;
}

.mapa{
    padding-top: 25px;
    text-align: center;
}

.catarina button, .cruz button {
    text-align: center;
    padding: 15px 40px;
    font-size: 18px;
    margin-left: 10px;
    font-weight: 600;
    background-color: #000;
    color: #fff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.catarina button:hover, .cruz button:hover {
    color: #fff;
    box-shadow: 0px 0px 8px #000;
    transform: scale(1.01);

}


/* delivery */

.tema-delivery {
    background-color: red;
    border: 25px solid rgb(111, 5, 5);
}

.tema h3 {
    font-size: 30px;
    
}

.tema-delivery h1 {
    padding-top: 30px;
    font-size: 40px;
    color: #fff;
    text-align: center;
    line-height: 70px;
}

.tema-delivery h3 {
    color: #fff;
    text-align: center;
    padding-bottom: 30px;
}


.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(111, 5, 5);
}

.text-catarina {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    background-color: #fff;
    border: 10px solid red;
    padding: 20px;
}

.text-catarina img {
    width: 350px;
    height: 300px;
}

.block {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

.block h3 {
    font-size: 30px;
    line-height: 40px;
    color: #000;
}

.block p {
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
}

.block button {
    text-align: center;
    padding: 15px 40px;
    font-size: 18px;
    margin-left: 10px;
    font-weight: 600;
    background-color: yellow;
    color: #000;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;

}

.block button:hover {
    color: #000;
    box-shadow: 0px 0px 8px #000;
    transform: scale(1.01);

}


.local {
    display: block;
    margin-left: 20px;
}

.local p {
    color: #fff;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .tema h3 {
        font-size: 26px;
    }
}




/*page  empresa  */

.empresa {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    gap: 40px;
    background-color: #fff;
}

.text-empresa h1 {
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

.text-empresa p {
    text-align: justify;
    padding: 20px;
    text-indent: 15px;
}

.img-empresa img {
    padding: 20px;
    height: 700px;
    width: 500px;
    border-radius: 10%;

}

/* footer */

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 40px 0;
}

footer .line-footer2 {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    /* linha separada */
    border-bottom: 1px solid #fff;
}

footer .line-footer2 .box-line-footer {
    max-width: calc(100% / 5);
}

footer .box-line-footer img {
    width: 300px;
    height: 200px;
    /* max-width: 800px; */
    margin-bottom: 10px;
}

.line-footer2 .box-line-footer h3 {
    color: red;
    margin-bottom: 20px;
}


.line-footer2 .box-line-footer a {
    color: #fff;
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: .9rem;
}

.box-line-footer .btn-redes a {
    display: inline;
}

.box-line-footer .btn-redes button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1.2rem;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    transition: .2s;
}

.box-line-footer .btn-redes button:hover {
    background-color: red;
    border-color: red;
}

footer .links-footer3 {
    padding-top: 40px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    footer {
        padding: 40px 50px;
    }

    footer .line-footer2 {
        display: block;
        justify-content: center;
        padding: 40px 20px;

    }     

    .btn-redes {
        display: flex;
    }

}





